Net/Storage/ClientService/Service References/ServiceReference2/Slave_11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserStorage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserStorage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8080/Service/Slave_1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserGender_x003E_k__BackingField" type="tns:Gender" />
      <xs:element name="_x003C_VisaRecords_x003E_k__BackingField" nillable="true" type="tns:ArrayOfVisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfVisaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisaRecord" type="tns:VisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisaRecord" nillable="true" type="tns:ArrayOfVisaRecord" />
  <xs:complexType name="VisaRecord">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EndDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisaRecord" nillable="true" type="tns:VisaRecord" />
</xs:schema>