Net/Storage/ClientService/Service References/ServiceReference3/SlaveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SlaveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/Slave_2?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/Slave_2?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/Slave_2?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserStorage" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/Slave_2?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/Slave_2?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServiceContract_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IUserServiceContract_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceContract_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserServiceContract_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceContract_SearchForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceContract_SearchForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServiceContract">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceContract/Add" message="tns:IUserServiceContract_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceContract/AddResponse" message="tns:IUserServiceContract_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceContract/Delete" message="tns:IUserServiceContract_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceContract/DeleteResponse" message="tns:IUserServiceContract_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceContract/SearchForUser" message="tns:IUserServiceContract_SearchForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceContract/SearchForUserResponse" message="tns:IUserServiceContract_SearchForUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServiceContract" type="tns:IUserServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IUserServiceContract/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserServiceContract/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceContract/SearchForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SlaveService">
    <wsdl:port name="BasicHttpBinding_IUserServiceContract" binding="tns:BasicHttpBinding_IUserServiceContract">
      <soap:address location="http://127.0.0.1:8080/Service/Slave_2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>